[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
pandas = "*"
plotly = "*"
xlrd = "*"
tqdm = "*"
tabulate = "*"
python-dotenv = "*"
chart-studio = "*"

[requires]
python_version = "3.8"
